<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
          <span>Apps</span>
          <a class="d-flex align-items-center text-muted" href="#" >
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="soon/">
              <span data-feather="aperture"></span>
              Dashboard <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">
              <span data-feather="book-open"></span>
             Knowledge Base 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="soon/">
              <span data-feather="database"></span>
             IPDB
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="soon/">
              <span data-feather="loader"></span>
             New App 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="soon/">
              <span data-feather="cpu"></span>
             New App 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="soon/">
              <span data-feather="layers"></span>
             New App 
            </a>
          </li>
        </ul>
        <hr>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
          <span>App navigation</span>
          <a class="d-flex align-items-center text-muted" href="#" >
          </a>
        </h6>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a class="d-flex align-items-center text-muted" href="/create/" >Create new article
          </a>
        </h6>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a class="d-flex align-items-center text-muted" href="/" >View all
          </a>
        </h6>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
          <span>Tags</span>
          <a class="d-flex align-items-center text-muted" href="#" >
          </a>
        </h6>
        {% block content_kb_sidebar_tags %}
      <div>
	    	{% for key,value in tags_cloud.items %}
            <a class="nav-link" href="/search?t={{ key }}">
              <span data-feather="tag"></span>
              {{key}}({{value}})
            </a>
	        {% endfor %}
        {% endblock %}
      </div>
      </div>
    </nav>
